<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- Mapper Interface 방식 -->
<mapper namespace="com.spring.study.mapper.ReplyMapper">
	<insert id="insert">
		INSERT INTO tbl_reply(rno, bno, replytext, replyer)
		VALUES(reply_seq.NEXTVAL, #{bno}, #{replytext}, #{replyer})
	</insert>
	
	<select id="read" resultType="com.spring.study.domain.ReplyDTO">
		SELECT *
		FROM tbl_reply
		WHERE rno = #{rno}
	</select>
	
	<delete id="delete">
		DELETE FROM tbl_reply
		WHERE rno = #{rno}
	</delete>
	
	<update id="update">
		UPDATE tbl_reply
		SET replytext = #{replytext}, updatedate = sysdate
		WHERE rno = #{rno}
	</update>
	
	<!-- <select id="getListWithPaging" resultType="com.spring.study.domain.ReplyDTO">
		SELECT rno,
			   bno,
			   replytext,
			   replyer,
			   regdate,
			   updatedate
		FROM tbl_reply
		WHERE bno = #{bno}
		ORDER BY rno ASC
	</select> -->
	
	<select id="getListWithPaging" resultType="com.spring.study.domain.ReplyDTO">
		<![CDATA[
			SELECT rno, bno, replytext, replyer, regdate, updatedate
			FROM (
					SELECT /*+ INDEX(tbl_reply IDX_tbl_reply_PK) */
							rownum rn, rno, bno, replytext, replyer, regdate, updatedate
					FROM tbl_reply
					WHERE bno = #{bno}
					AND rno > 0
					AND rownum <= #{cri.pageNum} * #{cri.amount}
				)
			WHERE rn > (#{cri.pageNum} - 1) * #{cri.amount}
		]]>
	</select>
	
	<select id="getCountByBno" resultType="int">
		<![CDATA[
			SELECT count(rno)
			FROM tbl_reply
			WHERE bno = #{bno}
		]]>
	</select>
	
	<delete id="deleteByBno">
		DELETE
		FROM tbl_reply
		WHERE bno = #{bno}
	</delete>
</mapper>






